/* ia.css */

body {
  margin: 0;
}

.center-container {
  display: flex;
  justify-content: flex-end;
  background-color: aliceblue;
  height: 80vh;
  padding-right: 20px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  overflow-x: hidden;
}

.region {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.button-region {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.titulo {
  font-size: 24px;
  margin-bottom: 15px;
  color: black;
}

.input-ia {
  width: 100%;
  padding: 5px; /* Reduz o padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px; /* Reduz o espaçamento inferior */
  resize: none;
  font-size: 14px; /* Reduz o tamanho da fonte */
}

.botao {
  background-color: rgba(20, 130, 221, 0.856);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px; /* Reduz o padding */
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: rgba(20, 130, 221, 1);
}

.resposta {
  width: 100%;
  padding: 200px;
  border-radius: 5px;
  overflow-y: auto;
}

/* Posiciona o campo de resposta acima do campo de pergunta */
.input-region {
  order: 2;
}

.resposta-region {
  order: 1;
}
