/* stopwatch.css */

/* Configuração geral */
.timerContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  z-index: 9999;
  transition: 2ms;
}

/* Estilo do cronômetro */
.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.315);
  opacity: 0; /* Começa com opacidade zero */
  transition: opacity 0.5s ease; /* Adicione uma transição de opacidade */
}

.stopwatch.show {
  opacity: 1; /* Quando a classe "show" é aplicada, a opacidade é 1 */
}

/* Botões do cronômetro */
.stopwatchButtons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.stopwatchButton {
  background-color: rgba(20, 130, 221, 0.856);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.stopwatchButton:not(:last-child) {
  margin-right: 5px;
}

.stopwatchButton:hover {
  background-color: rgba(20, 130, 221, 1);
}

.stopwatchTime {
  font-size: 24px;
  margin: 0;
  margin-top: 10px;
  margin-right: 20px;
}

/* Botão "Mostrar Cronômetro" */
.showStopwatchButton {
  background-color: rgba(0, 81, 255, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 9999;
}

.showStopwatchButton:hover {
  background-color: rgba(0, 110, 255, 0.9);
}

/* Botão "Esconder Cronômetro" */
.hideStopwatchButton {
  background-color: rgba(255, 17, 0, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
}

.hideStopwatchButton:hover {
  background-color: rgba(255, 30, 0, 0.9);
}
