
.dark-theme {
  background-color: transparent; 
  color: #fff; 
  transition: background-color 0.2s, color 0.2s;
}


.alternar-tema {
  position: fixed;
  top: 110px;
  right: 0;
  background-color: transparent;
  color: #333; 
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.2s, color 0.2s; 
}

  .alternar-tema.dark {
  background-color: transparent;
  color: #fff; 
  transition: background-color 0.2s, color 0.2s; 
}

.alternar-tema label {
  display: flex;
  align-items: center;
}

.alternar-tema label svg {
  font-size: 20px;
  margin-right: 8px;
}

.icone-lua {
  margin-right: 8px;
  color: #825ae0; 
  background-color: transparent;
  cursor: pointer;
}

.icone-sol {
  margin-right: 8px;
  color: rgb(221, 221, 219); 
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 768px) {
  .alternar-tema {
    padding: 5px;
  }

  .alternar-tema label svg {
    font-size: 16px;
  }
}
