/* Estilos para o contêiner principal que envolve o erro 404 */
.container-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif; /* Escolha a fonte desejada */
  background-color: aliceblue; /* Cor de fundo opcional */
}

/* Estilos para o título "Erro 404" */
.erro {
  font-size: 48px; /* Tamanho da fonte do título */
  margin-bottom: 10px; /* Espaço abaixo do título */
  color: #ff0000; /* Cor do título, você pode alterar para a cor desejada */
  font-weight: bolder;
}

/* Estilos para a mensagem "Página não encontrada." */
.notfound {
  font-size: 24px; /* Tamanho da fonte da mensagem */
  color: #333; /* Cor da mensagem, você pode alterar para a cor desejada */
}
