.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow-y: auto;
  padding-bottom: 60px;
}

.admin-container h1 {
  margin-bottom: 28px;
}

.btn-register {
  margin-bottom: 28px;
  border-radius: 4px;
  background-color: #9575de;
  color: aliceblue;
  padding: 5px;
}
.btn-register:hover {
  background-color: #825ae0;
}

.list {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: rgba(206, 206, 206, 0.38);
  border-radius: 4px;
  margin-bottom: 12px;
  justify-content: center;
  padding: 14px 8px;
  border-left: 5px solid #825ae0;
  margin-right: 5vh;
}

.btn-home {
  text-decoration: none;
  position: absolute;
  top: 5%;
  left: 2%;
  border-radius: 4px;
  border: 0;
  color: #fafafa;
  text-align: center;
  vertical-align: middle;
  rotate: 180deg;
}

.btn-home img {
  width: 48px;
  height: auto;
}
