.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  width: 100%;
  position: relative; 
  overflow-y: auto;
  padding-bottom: 60px; 
}

.admin-container h1 {
  margin-bottom: 28px;
}

.btn-register {
  margin-bottom: 28px;
  border-radius: 4px;
  background-color: #9575de;
  color: aliceblue;
  padding: 5px;
}
.btn-register:hover {
  background-color: #825ae0;
}

.list {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: rgba(206, 206, 206, 0.38);
  border-radius: 4px;
  margin-bottom: 12px;
  justify-content: center;
  padding: 14px 8px;
}

.list p {
  margin-bottom: 8px;
}

.list button {
  margin-right: 8px;
  border: 0;
  border-radius: 4px;
  padding: 4px;
}

.btn-delete {
  color: #9575de;
  background-color: transparent;
}

.btn-delete:hover {
  background-color: transparent;
  color: #825ae0;
}

.btn-edit {
  background-color: #9575de;
  color: aliceblue;
}

.btn-edit:hover {
  background-color: #825ae0;
}

.btn-completed {
  text-decoration: none;
  position: absolute;
  bottom: 8%;
  right: 4%;
  padding: 1vh;
  width: 20vh;
  border-radius: 4px;
  border: 0;
  background-color: #9575de;
  color: #fafafa;
  transition: all 0.5s;
  text-align: center;
  vertical-align: middle;
}

.btn-completed:hover {
  background-color: #825ae0;
  color: #fff;
}
